<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Information</title>
  </head>
  <body>
    <h1>Edit posted information</h1>
    <form action="/<%=data.id%>/edit?_method=PUT" method="POST">
      <label for="info">Info: </label>
      <input
        type="text"
        name="info"
        id="info"
        value=""
        placeholder="<%=data.info%>"
      />
      <button type="submit">Submit</button>
    </form>
    <form action="/<%=data.id%>/edit?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
