<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This is the main informational page</h1>
    <p>Here is the currently posted information:</p>
    <ul>
      <% for (let datum of data){ %>
      <li>
        <%= datum.info %> <%= datum.date.getMonth() %>
        <a href="/<%=datum.id%>/edit">Edit</a> <a href="/<%=datum.id%>/view">View</a>
      </li>
      <%} %>
    </ul>
    <a href="/new">Add new information</a>
  </body>
</html>
