<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Item</title>
  </head>
  <body>
    <h1>Add information</h1>
    <form action="/new" method="POST">
      <label for="info">Info: </label>
      <input
        type="text"
        name="info"
        id="info"
        placeholder="type new information here"
        required
      />

      <label for="date">Date: </label>
      <input type="date" name="date" id="date" required/>

      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
