<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View comments on info</title>
  </head>
  <body>
    <h1>Info post <%= data.id %></h1>
    <h2><%= data.info %></h2>
    <% for (let comment of data.comments){ %>
    <p><%= comment %></p>
    <% }%>
    <a href="/">Back to main</a>
    
  </body>
</html>
